{% from "back-link/macro.njk" import govukBackLink %}
{% from "table-pagination-results/macro.njk" import govukTablePaginationResults %}
{% from "table-pagination-control/macro.njk" import govukTablePaginationControl %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Table Pagination
      </h1>


      <section class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-l">First page of five</h2>
        {{ govukTablePaginationResults({"currentPage": 1,"pageSize": 20,"totalRecords": 100,"textItemType": "records"}) }}
        {{ govukTablePaginationControl({"currentPage": 1,"pageSize": 20,"totalRecords": 100}) }}
      </section>

      <section class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-l">Middle page of one hundred</h2>
        {{ govukTablePaginationResults({"currentPage": 50,"pageSize": 10,"totalRecords": 1000,"textItemType": "records"}) }}
        {{ govukTablePaginationControl({"currentPage": 50,"pageSize": 10,"totalRecords": 1000}) }}
      </section>

      <section class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-l">Last page of one hundred</h2>
        {{ govukTablePaginationResults({"currentPage": 100,"pageSize": 10,"totalRecords": 1000,"textItemType": "records"}) }}
        {{ govukTablePaginationControl({"currentPage": 100,"pageSize": 10,"totalRecords": 1000}) }}
      </section>

      <section class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-l">Welsh</h2>
        {{ govukTablePaginationResults({"currentPage": 3,"pageSize": 10,"totalRecords": 100,"textItemType": "o gofnodion","textShowing": "Yn dangos","textTo": "i","textOf": "o"}) }}
        {{ govukTablePaginationControl({"currentPage": 3,"pageSize": 10,"totalRecords": 100,"textPrevious": "Tudalen flaenorol","textNext": "Tudalen nesaf","textPage": "Tudalen","textpage": "&nbsp;"}) }}
      </section>

    </div>
  </div>
{% endblock %}
