{% macro paginationPageLink(queryPrefix,queryPostfix,page) %}{{ queryPrefix }}{{ page }}{{ queryPostfix }}{% endmacro %}

{% macro previousArrow() %}
<svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
<path fill="currentColor" d="M6.6,0l-6.7,6.7l6.7,6.4L8,11.7l-4.2-4h12.9v-2h-13L8,1.4C8,1.4,6.6,0,6.6,0z"></path>
</svg>
{% endmacro %}

{% macro nextArrow() %}
<svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
<path fill="currentColor" d="M10.1,0L8.7,1.4L13,5.7H0v2h12.9l-4.2,4l1.4,1.4l6.7-6.4L10.1,0z"></path>
</svg>
{% endmacro %}


{% macro govukTablePaginationControl(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
