{%- macro paginationPageLink(queryPrefix,queryPostfix,page) %}{{ queryPrefix }}{{ page }}{{ queryPostfix }}{% endmacro %}

{%- macro previousArrow() %}
<svg class="govuk-pagination__svg--previous" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13"><path fill="currentColor" d="M6.6,0l-6.7,6.7l6.7,6.4L8,11.7l-4.2-4h12.9v-2h-13L8,1.4C8,1.4,6.6,0,6.6,0z"></path></svg>
{% endmacro %}

{%- macro nextArrow() %}
<svg class="govuk-pagination__svg--next" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13"><path fill="currentColor" d="M10.1,0L8.7,1.4L13,5.7H0v2h12.9l-4.2,4l1.4,1.4l6.7-6.4L10.1,0z"></path></svg>
{% endmacro %}

{%- set textPrevious = params.textPrevious if params.textPrevious else 'Previous' %}
{%- set textPage = params.textPage if params.textPage else 'Page' %}
{%- set textpage = params.textpage if params.textpage else 'page' %}
{%- set textNext = params.textNext if params.textNext else 'Next' %}

{%- set maxPage = (params.totalRecords|int / params.pageSize) |int %}
{%- if maxPage * params.pageSize < params.totalRecords %}
  {%- set maxPage = maxPage + 1 %}
{%- endif %}
{%- set currentPage = params.currentPage|int %}
{%- if currentPage < 1 %}{%- set currentPage = 1 %}{%- endif %}
{%- if currentPage > maxPage %}{%- set currentPage = maxPage %}{%- endif %}
{%- set queryPrefix = params.queryPrefix if params.queryPrefix else "?page=" %}
{%- set queryPostfix = params.queryPostfix if params.queryPostfix else "" %}
{%- if params.totalRecords|int > params.pageSize|int and (currentPage-1) * params.pageSize + 1 <= params.totalRecords|int -%}

<nav class="govuk-pagination govuk-body{%- if params.classes %} {{ params.classes }}{% else %} govuk-!-font-size-19{% endif %}" aria-label="Pagination"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
{%- if currentPage != 1 -%}
<div class="govuk-pagination__previous"><a href="{{ paginationPageLink(queryPrefix,queryPostfix, currentPage|int - 1 ) }}" class="govuk-link govuk-link--no-visited-state govuk-pagination__link" rel="previous">
{{ previousArrow() }}{{ textPrevious | safe }} <span class="govuk-pagination__span--hidden-mobile">{{ textpage | safe }}</span></a></div>
{%- endif %}

{%- if currentPage * params.pageSize < params.totalRecords %}

<div class="govuk-pagination__next"><a href="{{ paginationPageLink(queryPrefix,queryPostfix, currentPage|int + 1 ) }}"  class="govuk-link govuk-link--no-visited-state govuk-pagination__link" rel="next">{{ textNext | safe }} <span class="govuk-pagination__span--hidden-mobile">{{ textpage | safe }}</span> {{ nextArrow() }}</a></div>
{%- endif %}

  <div class="dwp-pagination-page-list"><ul>
    {%- if currentPage >= 3 %}
    
    <li><a href="{{ paginationPageLink(queryPrefix,queryPostfix, 1 ) }}" class="govuk-link govuk-link--no-visited-state"><span class="govuk-pagination__span--visuallyhidden">{{ textPage | safe }} </span>1</a></li>
    {%- endif -%}

    {%- if currentPage >= 4 %}
    
    <li>…</li>
    {%- endif %}

    {%- if currentPage >= 2 %}
    
    <li><a href="{{ paginationPageLink(queryPrefix,queryPostfix, currentPage|int - 1 ) }}" class="govuk-link govuk-link--no-visited-state"><span class="govuk-pagination__span--visuallyhidden">{{ textPage | safe }} </span>{{ currentPage|int - 1 }}</a></li>
    {%- endif %}

    <li class="active"><a href="{{ paginationPageLink(queryPrefix,queryPostfix, currentPage|int ) }}" class="govuk-link govuk-link--no-visited-state"><span class="govuk-pagination__span--visuallyhidden">{{ textPage | safe }} </span>{{ currentPage|int }}</a></li>

    {%- if currentPage < maxPage %}
    
    <li><a href="{{ paginationPageLink(queryPrefix,queryPostfix, currentPage|int + 1 ) }}" class="govuk-link govuk-link--no-visited-state"><span class="govuk-pagination__span--visuallyhidden">{{ textPage | safe }} </span>{{ currentPage|int + 1 }}</a></li>
    {%- endif %}

    {%- if currentPage < maxPage -2 %}
    
    <li>…</li>
    {%- endif %}

    {%- if currentPage < maxPage -1 %}
    
    <li><a href="{{ paginationPageLink(queryPrefix,queryPostfix, maxPage ) }}" class="govuk-link govuk-link--no-visited-state"><span class="govuk-pagination__span--visuallyhidden">{{ textPage | safe }} </span>{{ maxPage }}</a></li>
    {%- endif %}

  </ul></div>
</nav>
{%- endif %}
